* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto";
  font-size: 19px;
}

.login {
  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    margin-top: 10px;
  }

  &__button {
    margin-top: 10px;
  }

  &__noAccount {
    font-size: 12px;
    margin-top: 7px;
    margin-left: 1px;
    a {
      color: black;
    }
  }
}

.restaurants {
  &__container {
    margin-top: 10px;
  }
}

.restaurant {
  &__carousel {
    height: 240px;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    &__image {
      transform: translate(0, -40%);
    }
    &_name {
      position: absolute;
      color: white;
      top: 190px;
      left: 10px;
    }
  }
}

.placeOrder {
  &__modal {
    height: 300px;
    &__image {
      height: 300px;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      &__button {
        flex-grow: 1;
        margin-left: 5px;
        &__price {
          position: absolute;
          right: 40px;
        }
      }
    }
  }
}

.cart {
  &__empty {
    width: 432px;
    height: 284px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 93px 10px;
  }
  &__hasItems {
  }
  &__item {
    margin-left: 3px;
    &__header {
      font-weight: bold;
    }
    &__details {
      display: flex;
      justify-content: space-between;
    }
  }
  &__total {
    position: absolute;
    right: 25px;
  }
  &__button {
    width: 100%;
  }
}
