* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto";
  font-size: 19px;
}

.login {
  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    margin-top: 10px;
  }

  &__button {
    margin-top: 10px;
  }

  &__noAccount {
    font-size: 12px;
    margin-top: 7px;
    margin-left: 1px;
    a {
      color: black;
    }
  }
}

.restaurants {
  &__container {
    margin-top: 10px;
  }
}

.restaurant {
  &__carousel {
    height: 240px;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    &__image {
      transform: translate(0, -40%);
    }
    &_name {
      position: absolute;
      color: white;
      top: 190px;
      left: 10px;
    }
  }
}

.placeOrder {
  &__modal {
    height: 300px;
    &__image {
      height: 300px;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      &__button {
        flex-grow: 1;
        margin-left: 5px;
        &__price {
          position: absolute;
          right: 40px;
        }
      }
    }
  }

  &__body {
    margin: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    &__left {
      flex-basis: 50%;
      padding-right: 10px;
      &__item {
        &__header {
          font-weight: bold;
        }
        &__body {
        }
        &__footer {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    &__right {
      min-height: 100%;
      background-color: #f6f6f6;
      flex-basis: 50%;
      &__header {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        &__button {
          width: 150px;
        }
        &__description {
          padding: 10px 80px;
          font-size: small;
          color: darkgray;
        }
      }
      &__table {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        table {
          width: 400px;
        }
      }
    }
  }
}

.cart {
  &__empty {
    width: 432px;
    height: 284px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 93px 10px;
  }
  &__hasItems {
  }
  &__item {
    margin-left: 3px;
    &__header {
      font-weight: bold;
    }
    &__details {
      display: flex;
      justify-content: space-between;
    }
  }
  &__total {
    position: absolute;
    right: 25px;
  }
  &__button {
    width: 100%;
  }
}

.filters {
  width: 100%;
  height: 100%;
}
